/* Form Container */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

/* Form Input Fields */
input[type="text"], textarea {
    width: auto;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Form Submit Button */
input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

/* Label Styling */
label {
    font-size: 1.1rem;
    font-weight: bold;
}

input[type="text"]:focus,textarea:focus{
    border-color:red!important;
    outline:none;
}



.form-container {
    max-width: 700px;
    margin: 50px auto;
}

.form-card {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

body{
    background-color: #f8f9fa;
}